@page "/"

<style>
    body, html {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    iframe {
        width: 100%;
        height: 100%;
        border: none;
    }

    .iframe-container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .iframe-wrapper {
        flex: 1;
        overflow: hidden;
    }
</style>

<PageTitle>Index</PageTitle>

<div class="iframe-container">
    <div class="iframe-wrapper">
        <iframe name="iframe_a"></iframe>
    </div>
</div>
