@using Microsoft.Extensions.Options
@using SwaggerHub.Data
@using SwaggerHub.Settings

@inject IOptionsSnapshot<ApplicationSettings> ApplicationSettings

<div class="top-row ps-3 navbar navbar-dark pb-1" style="height:3.75rem; background-color: #0f0f0f;">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SwaggerHub</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            @foreach (var urlInfo in ApplicationSettings.Value.Urls)
            {
                <NavLink class="nav-link" href="@urlInfo.Url" target="iframe_a">
                    <span class="oi oi-list-rich" aria-hidden="true"></span>
                    @urlInfo.Name
                </NavLink>
            }
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
